



<div class="toppage">
<h1 class="top">カレンダー</h1>
<br>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  data-turbo-action="false">
  新規投稿
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: @task) do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.label :title, '予定' %>
            <%= form.text_field :title, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :in_detail, '詳しい内容' %>
            <%= form.text_area :in_detail, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :start_time, '開始時刻' %>
            <%= form.datetime_select :start_time, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "作成", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @tasks do |date, tasks | %>
  <%= date.day %>

  <% tasks.each do |task| %>
    <div>
      <% if task.user.id == current_user.id  %>
        <%= link_to task.title, task %>
      <% end %>
    </div>
  <% end %>
<% end %>

</div>
</div>
</div>