<!DOCTYPE html>
<html>
    <head>
        <title>application</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>
    
    <body>
        <header>
            <%= link_to 'ホーム', root_path %>
            <% if user_signed_in? %>
                <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'サイン', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
            <%= link_to 'ユーザー', users_path %>
            <% if user_signed_in? %>
                <%= link_to 'マイページ', user_path(current_user) %>
            <% end %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </header>
        <%= yield %>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
